.top-basic-info {
  width: 100%;
  max-width: 1050px;
  //height: 60px;
  background: #b5ffba;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 10px;

  .top {
    h4 {
      font-size: 17px;
      font-weight: 700;
      color: #ea7e0c;
      text-align: center;
      line-height: 2.3;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    color: #017d09;
  }

}
