<section class="add-list">
  <div class="page-header">
    <div class="page-title">
      <h4>Parking {{ id ? "Update" : "Add" }}</h4>
    </div>
  </div>
</section>

<section class="from-section">
  <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="area-border">



    <div class="from">
      <mat-label>Vehicle Owner name</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="name" matInput required />
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Slug</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="slug" matInput required autoSlug/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Vehicle Owner Phone</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="phoneNo" matInput/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Car Owner Address</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="carOwnerAddress" matInput/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Vehicle type</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="vehicleType" required>

          <mat-option *ngFor="let item of vehicleTypeAccess" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicleTypeControl.hasError('required')">Please choose an field</mat-error>
      </mat-form-field>
    </div>



    <div class="from">
      <mat-label> Vehicle license No</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="licenseNo" matInput/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Parking Charge</mat-label>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="parkingCharge" matInput/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="from">
      <mat-label>Status</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="status" required>

          <mat-option *ngFor="let item of statusAccess" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="statusControl.hasError('required')">Please choose an field</mat-error>
      </mat-form-field>
    </div>



    <div class="from">

      <mat-label>Car Entry Date & Time</mat-label>
      <mat-form-field appearance="outline" class="w-100 px-1" (click)="deliveringDate.open()">
        <input readonly [required]="dataForm.value.hasOrderTimeline === true" matInput
               [ngxMatDatetimePicker]="deliveringDate" placeholder="Car Entry Date & Time"
               formControlName="carEntry">
        <mat-datepicker-toggle matSuffix [for]="deliveringDate"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #deliveringDate [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                 [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [color]="'primary'">
        </ngx-mat-datetime-picker>
      </mat-form-field>


    </div>

 <div class="from">

   <mat-label>Car Exit Date & Time</mat-label>
      <mat-form-field appearance="outline" class="w-100 px-1" (click)="carExit.open()">
        <input readonly [required]="dataForm.value.hasOrderTimeline === true" matInput
               [ngxMatDatetimePicker]="carExit" placeholder="Car Exit Date & Time"
               formControlName="carExit">
        <mat-datepicker-toggle matSuffix [for]="carExit"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #carExit [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                 [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [color]="'primary'">
        </ngx-mat-datetime-picker>
      </mat-form-field>


    </div>



    <div class="btn">
      <button mat-raised-button type="submit" class="btn-submit">
        {{ id ? "Update" : "Submit" }}
      </button>
      <button type="button" [routerLink]="['../']" mat-raised-button class="btn-submit color">
        Cancel
      </button>
    </div>
  </form>
</section>
