// Fonts Family
$font-en-poppins: 'Poppins', sans-serif;
$font-en-nunito: 'Nunito Sans', sans-serif;
$font-en-primary: $font-en-nunito;


// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-secondary: #ff7542;
$color-primary: #4b378d;
$color-accent: #1aa4e0;
$color-dashboard: #151515;
$color-font-color: #fff;
$color-table: #151515;
$color-table-font-color: #fff;
$color-black: white;

//BACKGROUND COLOR
$bg-primary: #C92127;
$bg-secondary: #FF696C;
//hover sub menu bg color
$bg-three: #FF696C;
$bg-menu-hover: #fa4c52;

//#ff9f43 f6383e
