
// Core
@import "src/theme/base";
@import "src/theme/material/theme";
@import "src/theme/fonts";



.my-custom-dialog-class {
    .mat-dialog-container {
      height: auto!important;
    }
  }

  .mat-dialog-container{
    height: auto!important;
  }
  
  .cdk-overlay-pane{
    padding: 10px!important;
  }

  